/build/**
/coverage/**
/docs/*
!/docs/*.js
!/docs/tools/
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
!.eslintrc.js

build/
node_modules/
internals/generators/
internals/scripts/
package-lock.json
yarn.lock
package.json